- import org.eknet.publet.james.stats.SmtpStatsService
- import org.eknet.publet.james.stats.LoginStatsService
- import org.eknet.publet.james.server.ConnectionBlacklist
- import java.text.DateFormat
- import java.util.Date

-@ val renderNav: Boolean = true
-@ val smtpStats: SmtpStatsService
-@ val imapStats: LoginStatsService
-@ val pop3Stats: LoginStatsService
-@ val blackList: ConnectionBlacklist
-@ val locale : java.util.Locale
-@ val showHeader: Boolean = true
- val now = new Date()
- def formatDate(d: Date) = DateFormat.getDateTimeInstance(DateFormat.FULL, DateFormat.FULL, locale).format(d)

- if (showHeader)
  .page-header
    h1
      | James Report
      small =formatDate(now)
.reportNav
h3 SMTP Delivery
table.table.table-striped
  tr
    th Since
    th = formatDate(smtpStats.getSince)
  tr
    td Connections Attempts
    td
      span.badge.badge-info
        =smtpStats.getConnectionAttempts
  tr
    td Mails accepted
    td
      span.badge.badge-success
        =smtpStats.getAcceptedMails
      | &nbsp;
      b (= #{smtpStats.getAcceptedMailsSize})
  tr
    td Remote Deliveries
    td
      span.badge.badge-info
        =smtpStats.getRemoteDeliveries
      | &nbsp;
      b (= #{smtpStats.getRemoteDeliveredSize})
  tr
    td Local Delivieries
    td
      span.badge.badge-info
        =smtpStats.getLocalDeliveries
      | &nbsp;
      b (= #{smtpStats.getLocalDeliveredSize})
  tr
    td Unknown Local User
    td
      span.badge.badge-important
        =smtpStats.getUnknownLocalUser
  tr
    td Relay Denies
    td
      span.badge.badge-important
        =smtpStats.getRelayDenies

- setAttribute("header", Some("SMTP Logins"))
- setAttribute("stats", Some(smtpStats))
- include("_loginreport.jade")

hr/

- setAttribute("header", Some("IMAP"))
- setAttribute("stats", Some(imapStats))
- include("_loginreport.jade")

hr/

- setAttribute("header", Some("POP3"))
- setAttribute("stats", Some(pop3Stats))
- include("_loginreport.jade")

hr/

h3 Blacklist

p The following IPs are currently in the blacklist:
- if (blackList.listIps.isEmpty)
  p.alert.alert-block.alert-info The blacklist is empty.
- else
  ul
    - for (ip <- blackList.listIps)
      li #{ip}

- if (renderNav)
  :javascript
    $(function() {
      $('.reportNav').reportnav({
        actionUrl: "../action/reportlist.json"
      });
    });