- import org.eknet.publet.james.server._
- val imapFac = PubletWeb.instance[PubletImapServerFactory].get
- val popFac = PubletWeb.instance[PubletPop3ServerFactory].get
- val smtpFac = PubletWeb.instance[PubletSmtpServerFactory].get

.row
  .span4
    ul.serverBoxes
      - for (server <- smtpFac.getServers)
        li
          .serverType SMTP
          .left
            span.label(class={ "label " + (if (server.isStarted) "label-success" else "label-important") })
              - if (server.getSocketType == "secure" || server.getStartTLSSupported)
                i.icon-lock.icon-white
              = if (server.isStarted) "running" else "stopped"
            span
              =server.getBoundAddresses.mkString(", ")
            span.badge.badge-info
              =server.getCurrentConnections
            | active
          .right
            a.btn.btn-primary.btn-mini
              i.icon-stop.icon-white
            a.btn.btn-mini
              i.icon-refresh
  .span4
    ul.serverBoxes
      - for (server <- imapFac.getServers)
        li
          .serverType IMAP
          .left
            span.label(class={ "label " + (if (server.isStarted) "label-success" else "label-important") })
              - if (server.getSocketType == "secure" || server.getStartTLSSupported)
                i.icon-lock.icon-white
              = if (server.isStarted) "running" else "stopped"
            span
              =server.getBoundAddresses.mkString(", ")
            span.badge.badge-info
              =server.getCurrentConnections
            | active
          .right
            a.btn.btn-primary.btn-mini
              i.icon-stop.icon-white
            a.btn.btn-mini
              i.icon-refresh
  .span4
    ul.serverBoxes
      - for (server <- popFac.getServers)
        li
          .serverType POP3
          .left
            span.label(class={ "label " + (if (server.isStarted) "label-success" else "label-important") })
              - if (server.getSocketType == "secure" || server.getStartTLSSupported)
                i.icon-lock.icon-white
              = if (server.isStarted) "running" else "stopped"
            span
              =server.getBoundAddresses.mkString(", ")
            span.badge.badge-info
              =server.getCurrentConnections
            | active
          .right
            a.btn.btn-primary.btn-mini
              i.icon-stop.icon-white
            a.btn.btn-mini
              i.icon-refresh
